body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAutocomplete-tag MuiAutocomplete-tagSizeMedium {
  background-color: yellow;
}

.MuiButtonBase-root
  MuiChip-root
  MuiChip-filled
  MuiChip-sizeMedium
  MuiChip-colorDefault
  MuiChip-deletable
  MuiChip-deletableColorDefault
  MuiChip-filledDefault
  MuiAutocomplete-tag
  MuiAutocomplete-tagSizeMedium
  css-1n1fq1u-MuiButtonBase-root-MuiChip-root
  MuiChip-filled
  MuiChip-sizeMedium
  MuiChip-colorDefault
  MuiChip-deletable
  MuiChip-deletableColorDefault
  MuiChip-filledDefault
  MuiAutocomplete-tag
  MuiAutocomplete-tagSizeMedium {
  background-color: yellow;
}
